.pane {
    display: block;
    height: 100%;
}

.top-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img {
    aspect-ratio: 16 / 9;
    object-fit: contain;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.top-main {
    flex: 1;
}

.carousel {
    background-color: var(--border);
}

.group {
    padding: 16px 0;
    border-bottom: 1px solid var(--border);
}

.name {
    font-size: 22px;
}

.text {
    color: var(--text);
    margin-top: 10px;
}

.icon {
    font-size: 1.5rem;
    color: var(--primary-1);
    min-width: 32px;
}

.toggle {
    position: absolute;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    top: 50%;
    right: 0;
    transform: translateX(50%);
    z-index: 1001;
    background-color: #dedede;
    cursor: pointer;
}

.columns {
    font-size: .9rem;
    font-weight: 500;
    color: rgb(143, 149, 155);
    margin-block: 1rem;
}