@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

}

.title {
    font-weight: 600;
    color: var(--primary-1);
    font-size: 20px;
    text-align: center;
}

.form-container {
    padding: 20px;
    background-color: #e4e6eb;
    border-radius: 8px;
    display: block;
    height: fit-content;
    width: min(500px, 80%);
}

.label {
    font-size: .9rem;
    color: #1d1f1a;
    text-align: center;
}

.group {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    +.group {
        margin-top: 20px;
    }

    +.row {
        margin-top: 20px;
    }
}

.row-group {
    margin-bottom: 30px;
    width: 100%;

}